@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes baby {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-55px);
  }

  
}

.babyfloat{
  animation: baby 2.3s ease-in-out infinite alternate;
  animation-play-state: running;
}
.shadow{
  margin-top: -110px;
  margin-left: -60px;
}

.con {
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}
.space {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.slider {
  display: flex;
  animation: slide 10s linear infinite; 
}

.slide{
  margin-left: 75px;
}
.background{
  /* background-image: url('/babe1.png'); */
  background-position: center;
  background-size: cover;
}
.contain{
  background-color: #365F9E14;
  padding: 40px;
}
.heading{
  font-size: 20px;
  color: #011635;
  font-weight: 700;
}
.contain h5{
  border: none;
  font-size: 16px;
  
}
.contain .link{
  color: #010D20;

}
.contain .link:hover{
  color: blue;
}
.text{
  color: #011635;
  font-size: 36px;
  font-weight: 700;
}
.newBackground{
  background-color: #D2DCE8;
}
.newbg{
  background: linear-gradient(92.34deg, #021024 35.98%, #021024 71.7%, rgba(2, 16, 36, 0.92) 101.86%);
}
.newbg button{
  background-color: #02409C;
  
}





